.jumbotron {
    position: relative;
    padding:0 !important;
    margin-top:70px !important;
    background: #eee;
    margin-top: 23px;
    margin-bottom: 0 !important;
    display: flex;
    align-content: center;
}


/* body {
    padding-top: 70px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  } */
